# Generated dev config files
dev/config.yaml
dev/config.rescanner.yaml
dev/config.indexer.yaml

# Generated compose env
.fystack.compose.env

# Generated MPC node configs (created by `fystack init`)
dev/node-configs/

# Misc
cookies.txt
