redis:
  address: "redis:6379"
  password: "6s9H5G9o4p5Fz25K9RyWd6eOryU8nQ"

nats:
  url: nats://nats-server:4222
  password: ""

consul:
  address: consul:8500
  # username: "apex"
  # password: ""
  # token: ""

networks:
  SOL_MAINNET:
    enabled: false
    id: "4b5bf0f9-5b89-45fb-8166-784ff1326b59"
    name: "Solana mainnet"
    rpcnodes:
      - url: "https://api.mainnet-beta.solana.com"
        origin: ""
  SOL_DEVNET:
    enabled: true
    id: "2e89cd02-8585-47b3-90e3-a92185f6ca5f"
    name: "Solana devnet"
    rpcnodes:
      - url: "https://api.devnet.solana.com"
