name: Apex API
version: 0.0.3
environment: dev
production_mode: false
consul:
  address: "consul:8500"
nats:
  url: "nats://nats-server_fystack:4222"
db:
  postgres:
    host: "postgres"
    user: "postgres"
    dbname: "custody"
    port: 5432
    password: "mysecretpassword"
    sslmode: ""
  mongo:
    dsn: "mongodb://admin:password@mongo:27017"
    database: "apex"

cookie:
  same_site: strict

app:
  root_url: http://localhost:5174
  sign_in_url: http://localhost:5174/auth
  sign_up_url: http://localhost:5174/auth/sign-up
  workspace_url: http://localhost:5174/auth/workspace
  checkout_url: http://localhost:5174/checkout
  reset_url: http://localhost:5174/auth/reset-password
  email_verification_url: http://localhost:5174/auth/verify-email
  cli_auth_url: http://localhost:5174/auth/cli
oauth2:
  google:
    client_id: "123456789012-abcdefghijklmnopqrstuvwxyz.apps.googleusercontent.com" # fake value, replace ith your value
    client_secret: "GOCSPX-4fV8k9xYtQm2PZs1uHnR6" # fake value
    callback_url: "http://localhost:8150/api/v1/authentication/google/callback"

redis:
  address: "redis:6379"
  password: "6s9H5G9o4p5Fz25K9RyWd6eOryU8nQ"

jwt:
  secret: a9cb1255ea2bb890cc79c12a4fb93499

email:
  resend_api_key: "<API_KEY>"
  sender_name: "Fystack" # Replace with your company name
  sender_email: "noreply@fystack.io" # Replace with your email

cors:
  allow_origins: http://localhost:8015
  # allow_origins: "*"

port: 8150

price_refresh_period: 25m
price_cache_duration: 30m # if no refresh then the price is still available for at least 5 more minutes
gas_data_cache_duration: 10s

wallet:
  mpc:
    mpcium_version: 0.3.0
    tss_lib_version: 2.0.0
    threshold: 2
  standard:
    version: 1.0.0

price_providers:
  dexscreener:
    endpoint: "https://api.dexscreener.com/latest/dex/search"
  coinmarketcap:
    endpoint: "https://pro-api.coinmarketcap.com/v1/cryptocurrency/quotes/latest"
    api_key: ""
  codex:
    endpoint: "https://graph.defined.fi/graphql"
    api_key: ""

encryption_key: 82441c6785f53e02dbf97db9db2107ad # 16 bytes, replace with your value

networks:
  ETHER_SEPOLIA_TESTNET:
    enabled: true
    providers:
      - name: "publicnode"
        http: "https://ethereum-sepolia-rpc.publicnode.com"
        wss: "wss://ethereum-sepolia-rpc.publicnode.com"
  BASE_SEPOLIA_TESTNET:
    enabled: true
    providers:
      - name: "publicnode"
        http: "https://base-sepolia-rpc.publicnode.com"
        wss: "wss://base-sepolia-rpc.publicnode.com"
  SOL_DEVNET:
    enabled: true
    rpc_nodes:
      - url: "https://api.devnet.solana.com"
  TRON_SHASTA_TESTNET:
    enabled: true
    rpc_nodes:
      - url: "https://api.shasta.trongrid.io/"
mpc:
  signer:
    type: "local" # Options: "local" or "kms"
    local:
      pk_raw: ""
      encrypted_pk_path: "event_initiator.key.age"
      encrypted_pk_password: ""

secret_store:
  type: "config"
  # type: "aws"
  config:
    region: ap-southeast-1
    prefix: ""
    endpoint: http://localhost:4566
    access_key_id: test
    secret_access_key: test
  memguard_enclave:
    enabled: true
    encrypt_critical: true

address_risk_providers:
  webacy:
    api_key: "" # get the api key https://docs.webacy.com/reference/webacy-api-overview

system_admins:
  - "mail1@gmail.com" # Replace with system admin email(s)
  - "mail2@gmail.com"

logging:
  mode: "stdout" # Options: "file", "stdout", "both"
  format: "json" # Options: "json", "pretty"
  blockchain:
    enabled: true
    stdout: true
  api:
    enabled: true
    stdout: true
  sweeper:
    enabled: true
    stdout: true

telegram:
  bot_token: "" # specify your token
  long_polling: true
  bot_name: "<Your bot name, starting with the @ symbol>"
