services:
  migrate:
    image: docker.io/fystacklabs/apex-migrate:1.0.6
    # build:
    #   context: ..
    #   dockerfile: deployments/migrate/Dockerfile
    container_name: migrate
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - ENVIRONMENT=dev
      - DB_USER=postgres
      - DB_PASSWORD=mysecretpassword
      - DB_NAME=custody
    restart: "no"
    networks:
      - apex
    volumes:
      - ./config.yaml:/root/config.yaml:ro

  apex:
    # build:
    #   context: ..
    #   dockerfile: deployments/api/Dockerfile
    image: docker.io/fystacklabs/apex:1.0.24
    container_name: apex
    ports:
      - "8150:8150"
    environment:
      - ENVIRONMENT=dev
      - NATS_URL=nats://nats-server:4222
      - CONSUL_ADDRESS=consul:8500
      - ENCRYPTION_KEY=82441c6785f53e02dbf97db9db2107ad
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      mongo:
        condition: service_healthy
      nats-server:
        condition: service_started
      consul:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    restart: unless-stopped
    networks:
      - apex
    volumes:
      - shared-data:/app/shared
      - ./config.yaml:/app/config.yaml:ro

  rescanner:
    image: docker.io/fystacklabs/rescanner:1.0.0
    container_name: rescanner
    environment:
      - ENVIRONMENT=dev
    restart: unless-stopped
    networks:
      - apex
    volumes:
      - shared-data:/app/shared
      - ./config.rescanner.yaml:/root/config.rescanner.yaml:ro

  multichain-indexer:
    image: docker.io/fystacklabs/multichain-indexer:1.0.0
    container_name: multichain-indexer
    command: ["index", "--chains=${CHAINS}", "--debug", "--catchup", "--manual"]
    environment:
      - CHAINS=tron_testnet
    restart: unless-stopped
    networks:
      - apex
    volumes:
      - ./config.indexer.yaml:/app/configs/config.yaml:ro

  postgres:
    image: postgres
    container_name: postgres_fystack
    environment:
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: custody
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: always
    networks:
      - apex

  redis:
    image: redis/redis-stack-server:latest
    container_name: redis_fystack
    ports:
      - "6379:6379"
    environment:
      - REDIS_ARGS=--requirepass 6s9H5G9o4p5Fz25K9RyWd6eOryU8nQ
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10
    restart: always
    networks:
      - apex

  mongo:
    image: mongo:latest
    container_name: mongo_fystack
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    restart: always
    networks:
      - apex

  nats-server:
    image: nats:latest
    container_name: nats-server_fystack
    command: -js --http_port 8222
    ports:
      - "4222:4222"
      - "8222:8222"
      - "6222:6222"
    tty: true
    restart: always
    networks:
      - apex

  consul:
    image: consul:1.15.4
    container_name: consul_fystack
    ports:
      - "8500:8500"
      - "8601:8600/udp"
    command: "agent -server -ui -node=server-1 -bootstrap-expect=1 -client=0.0.0.0"
    healthcheck:
      test: ["CMD", "consul", "operator", "raft", "list-peers"]
      interval: 5s
      timeout: 3s
      retries: 10
    restart: always
    networks:
      - apex
  ## MPCIUM
  mpcium0:
    # build:
    #   context: ../..
    #   dockerfile: deployments/mpcium/Dockerfile
    image: docker.io/fystacklabs/mpcium:0.3.0
    container_name: mpcium-node0
    environment:
      - NODE_NAME=node0
    volumes:
      - ./node-configs/node0/config.yaml:/app/config.yaml:ro
      - ./node-configs/node0/identity:/app/identity:ro
      - ./node-configs/node0/peers.json:/app/peers.json:ro
      - mpcium-node0-db:/app/db
      - mpcium-node0-backups:/app/backups
    ports:
      - "8080:8080"
    depends_on:
      nats-server:
        condition: service_started
      consul:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - apex

  mpcium1:
    # build:
    #   context: ../..
    #   dockerfile: deployments/mpcium/Dockerfile
    image: docker.io/fystacklabs/mpcium:0.3.0
    container_name: mpcium-node1
    environment:
      - NODE_NAME=node1
    volumes:
      - ./node-configs/node1/config.yaml:/app/config.yaml:ro
      - ./node-configs/node1/identity:/app/identity:ro
      - ./node-configs/node1/peers.json:/app/peers.json:ro
      - mpcium-node1-db:/app/db
      - mpcium-node1-backups:/app/backups
    ports:
      - "8081:8080"
    depends_on:
      nats-server:
        condition: service_started
      consul:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - apex

  mpcium2:
    # build:
    #   context: ../..
    #   dockerfile: deployments/mpcium/Dockerfile
    image: docker.io/fystacklabs/mpcium:0.3.0
    container_name: mpcium-node2
    environment:
      - NODE_NAME=node2
    volumes:
      - ./node-configs/node2/config.yaml:/app/config.yaml:ro
      - ./node-configs/node2/identity:/app/identity:ro
      - ./node-configs/node2/peers.json:/app/peers.json:ro
      - mpcium-node2-db:/app/db
      - mpcium-node2-backups:/app/backups
    ports:
      - "8082:8080"
    depends_on:
      nats-server:
        condition: service_started
      consul:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - apex

volumes:
  mpcium-node0-db:
  mpcium-node0-backups:
  mpcium-node1-db:
  mpcium-node1-backups:
  mpcium-node2-db:
  mpcium-node2-backups:
  shared-data:

networks:
  apex:
    driver: bridge
