version: "3.8"

services:
  nats-prod:
    image: nats:alpine
    container_name: nats-apex-production
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    ports:
      - "127.0.0.1:4223:4222" # NATS client port, exposed on 4223
      - "127.0.0.1:8223:8222" # Monitoring endpoint, exposed on localhost
      - "127.0.0.1:6223:6222" # Cluster port, exposed on localhost
    volumes:
      - ./certs:/etc/nats/certs:ro # TLS certs (read-only)
      - ./nats.conf:/etc/nats/nats.conf # NATS config
      - nats_data:/data
    command: ["nats-server", "-c", "/etc/nats/nats.conf"]
    restart: always
    tty: true

  mongo-prod:
    image: mongo:latest
    container_name: mongo-apex-production
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: ""
    ports:
      - "127.0.0.1:27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  nats_data:
  mongo_data:
